<div id="<%= dom_id author %>">
  <p>
    <strong>Name:</strong>
    <%= author.name %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= author.dob %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= author.email %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= author.phone_number %>
  </p>

</div>
