<div id="<%= dom_id creator %>">
  <p>
    <strong>Name:</strong>
    <%= creator.name %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= creator.dob %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= creator.email %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= creator.phone_number %>
  </p>

</div>
