<p style="color: green"><%= notice %></p>

<%= render @creator %>

<div>
  <%= link_to "Edit this creator", edit_creator_path(@creator) %> |
  <%= link_to "Back to creators", creators_path %>

  <%= button_to "Destroy this creator", @creator, method: :delete %>
</div>
