<h1>New Post</h1>

<% if @post.errors.any? %>
  <div style="color: red;">
    <h2>There were some errors with your submission:</h2>
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @post, url: posts_path, method: :post do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control" %>
  </div>
  <br>
  <%= f.submit "Create Post", class: "btn btn-primary" %>
<% end %>
